// Auro Support
@import "~@alaskaairux/orion-design-tokens/dist/tokens/SCSSVariables";
// Orion support
@import '~@alaskaairux/orion-design-tokens/dist/tokens/TokenVariables';
@import "~@alaskaairux/orion-web-core-style-sheets/dist/breakpoints";


.main-wrapper {
  @include auro_breakpoint--md {
    max-width: $size-width-max;
    margin: 0 auto;
  }
}

.ondark {
  background-color: var(--auro-color-background-darkest);
  padding: 10px 20px;
}

.wrapper {
  & > section {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: $size-scale-med;

    @include auro_breakpoint--lg {
      margin-left: 260px;
      margin-right: 0;
    }

    @include auro_breakpoint--sm {
      margin-left: 280px;
    }
  }
}

code {
  color: $color-base-chili;
}

.indention {
  padding-left: $size-scale-med;
  border-left: 1px solid $color-base-manatee;
  margin-bottom: $size-scale-xxl;

  &--warning {
    border-color: var(--color-background-alert);
    border-width: 4px;
  }
}

.install {
  padding: $size-scale-sml 0 $size-scale-sml $size-scale-lg !important;
  margin-bottom: $size-scale-xxl;
}

.html {
  padding: $size-scale-med !important;

  @include breakpoint-narrow {
    padding: $size-scale-lg $size-scale-sml $size-scale-lg $size-scale-lg !important;
  }
}

pre {
  margin-top: 0;
}

.exampleWrapper {
  $stripe: #f3f3f3;
  $background: $color-base-white;

  background: repeating-linear-gradient( 45deg, $stripe, $stripe 10px, $background 10px, $background 20px);
}

.exampleWrapper--deprecated {
  $stripe: $auro-color-alert-advisory-on-light;
  $background: $color-base-white;

  background: repeating-linear-gradient( 45deg, $stripe, $stripe 10px, $background 10px, $background 20px);
}

.deprecatedExample {
  @extend .exampleWrapper--deprecated;
  display: inline-block;
  width: 85px;
  height: 15px;
}

.afterCode {
  margin-bottom: $size-scale-max;
  border-width: 0 1px 1px;
}

footer {
  margin: $size-scale-xxl 0;
}

.dataSelected {
  $stripe: $color-base-cloud;
  $background: $color-base-white;

  border-width: 1px 1px 0;
  background: repeating-linear-gradient( 45deg, $stripe, $stripe 5px, $background 5px, $background 10px);

  color: $color-base-shark;
  line-height: $size-scale-xxl;
  padding: 0 10px 0;

  span {
    color: $color-base-chili;
  }
}

.util_swatchBox {
  margin-bottom: var(--size-scale-xxl);
  @include breakpoint-narrow {
    display: flex;
    flex-flow: row wrap;
  }
}

ods-swatch {
  display: block;
  flex-basis: 30%;
  flex-grow: 2;
  overflow: hidden;
}

// OH HELL NO!
#icon-list {
  .icon-category {
    text-transform: capitalize;
  }

  .iconsWrapper {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: var(--size-scale-xxl);

    span {
      position: absolute;
      font-size: var(--size-font-breakpoint-all-small);
      top: 100px;
    }

    div {
      position: relative;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: var(--size-border-radius-default);
      background-color: var(--color-base-cloud);
      margin: 0 var(--size-scale-sml) var(--size-scale-sml) 0;

      &:nth-child(even) {
        margin-right: 0;
      }

      width: calc(50% - var(--size-scale-micro));
      height: 125px;

      @include breakpoint-narrow {
        width: 150px;
        &:nth-child(even) {
          margin-right: var(--size-scale-sml);
        }
      }
    }
  }
}

auro-swatch-list,
auro-tokens-list {
  display: block;
  overflow: scroll;

  background:
    linear-gradient(90deg, white 0%, rgba(255,255,255,0)),
    linear-gradient(-90deg, white 0%, rgba(255,255,255,0)) 100% 0,
    radial-gradient(
      farthest-side at 0% 50%,
      rgba(0,0,0,.2),
      rgba(0,0,0,0)
    ),
    radial-gradient(
      farthest-side at 100% 50%,
      rgba(0,0,0,.2),
      rgba(0,0,0,0)
    ) 100% 0%;
  background-repeat: no-repeat;
  background-color: #fff;
  background-size: 100px 200%, 100px 100%, 25px 100%, 25px 100%;
  background-attachment: local, local, scroll, scroll;

  @include auro_breakpoint--lg {
    overflow: initial;
    background: initial;
  }
}

.avatarWrapper {
  display: block;
  margin-bottom: 2rem;

  @include auro_breakpoint--lg {
    display: flex;
    flex-wrap: wrap;
  }
}

.avatarWrapper--4up {
  auro-color-avatar {
    flex-basis: 25%;
    padding-right: 2%;
  }
}

.avatarWrapper--3up {
  auro-color-avatar {
    flex-basis: 33%;
    padding-right: 5%;
  }
}
