// Auro Support
/* ------------------------ Auro Support ------------------------ */
@import "~@alaskaairux/design-tokens/dist/tokens/SCSSVariables";
@import "~@alaskaairux/webcorestylesheets/dist/breakpoints";
@import "~@alaskaairux/webcorestylesheets/dist/animation";
@import "~@alaskaairux/webcorestylesheets/dist/utilityMixins/anchor-roleTab";


@import "~@alaskaairux/webcorestylesheets/dist/essentials";

$prefix: true;
$paragraph: true;
$focus: true;
@import "~@alaskaairux/webcorestylesheets/dist/utilityClasses/typeProperties";
@import "~@alaskaairux/webcorestylesheets/dist/utilityClasses/fontStyles";
@import "~@alaskaairux/design-tokens/dist/tokens/SassCustomPropertiesColorRGB";
@import "~@alaskaairux/webcorestylesheets/dist/utilityClasses/displayProperties";

%see {
  outline: 2px solid red;
}

body {
  background-color: var(--auro-color-background-lightest);
}

.ondark {
  background-color: var(--auro-color-background-darkest);
  padding: 10px 20px;
}

hr {
  margin: var(--auro-size-xxl) 0;
}

img {
  max-width: 100%;
}

ul {
  padding-left: 2rem;
}

.util_mobileNowrap {
  white-space: nowrap;

  @include auro_breakpoint--md {
    white-space: normal;
  }
}

.shortWrap {
  width: 300px;

  @include auro_breakpoint--md {
    width: auto;
  }
}

.util_wrap {
  white-space: normal;
}

.util_hover {
  &:hover {
    cursor: pointer;
    color: var(--auro-color-ui-hover-on-light);
  }
}

.util_pointer {
  &:hover {
    cursor: pointer;
  }
}

.util_flexCenter {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}


// -=-=-=-=-=-=-=-=-= body wrapper -=-=-=-=-=-=-=-=-=-=-=
footer,
.wrapper > section {
  margin: var(--auro-size-xl);
  padding-top: var(--auro-size-md);

  @include auro_breakpoint--sm {
    max-width: 62%;
    margin: var(--auro-size-md) auto 0 250px;
  }

  @include auro_breakpoint--md {
    max-width: 70%;
    margin: var(--auro-size-md) auto 0 290px;
  }

  @include auro_breakpoint--lg {
    max-width: 64rem;
    margin: var(--auro-size-md) auto 0 25%;
  }
}
// -=-=-=-=-=-=-=-=-= body wrapper -=-=-=-=-=-=-=-=-=-=-=

footer {
  padding-top:var(--auro-size-xxxl);
  padding-bottom: 80px;
  color: var(--auro-color-text-secondary-on-light);
  font-weight: 100;
}

auro-swatch-list {
  overflow: scroll;
  display: block;
}

/* ------------------------ Side Nav ------------------------ */
.sidenav,
.sidenav ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  li {
    @include auro_transition;
  }
}

.sidenav {
  left: -300px;
  transition: all .3s ease;
  position: fixed;
  z-index: 100;
  background-color: white;
  padding-left: var(--auro-size-lg);
  height: calc(100% - 80px);
  overflow: scroll;
  top: 80px;
  background-color: var(--auro-color-background-lighter);
  background-color: #f8f8f8;

  .isHeading {
    margin: var(--auro-size-lg) 0 0;
  }

  a {
    margin-bottom: var(--auro-size-xxs);

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include auro_breakpoint--sm {
    left: 0;
    display: block;
    opacity: 1;
    left: auto;
    width: 230px;
    top: 80px;
    padding-bottom: 100px;
  }

  @include auro_breakpoint--md {
    width: 270px;
  }
}

.auro_hyperlink.is-active,
.auro_hyperlink--active,
.hyperlink--active {
  color: var(--auro-color-text-primary-on-light) !important;
  text-decoration: none !important;
  cursor: default;
}

.auro_hyperlink--active.auro_hyperlink--nav:not(.is-touching):hover,
.hyperlink--active.hyperlink--nav:not(.is-touching):hover {
  text-decoration: none !important;
  cursor: default;
}

.auro_hyperlink--nav {
  margin-top: var(--auro-size-md);

  &:first-child {
    margin-top: var(--auro-size-xs);
  }
}

.auro_hyperlink--subNav {
  margin-top: 0;
  padding-left: var(--auro-size-xs);
}

.auro_hyperlink--parent + .auro_hyperlink--parent {
  margin-top: 0;
}

.menuCheckbox,
.menuCheckbox--label {
  position: fixed;
  bottom: 50px;
  right: 30px;
  z-index: 299;

  @include auro_breakpoint--sm {
    display: none;
  }
}

.menuCheckbox--label {
  &::before {
    display: block;
    position: absolute;
    content: '';
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background-color: var(--auro-color-background-lighter);
    box-shadow: 0px 0px 10px #222;
    right: -12px;
    top: -13px;
    z-index: -1;
  }
}

.menuIcon {
  display: block;

  @include auro_breakpoint--sm {
    display: none;
  }
}

.closeIcon {
  display: none;
}

.menuCheckbox:checked + .menuCheckbox--label {
  .menuIcon {
    display: none;
  }
  .closeIcon {
    display: block;
  }
}

.menuCheckbox {
  &:checked {
    & ~ .sidenav {
      opacity: 1;
      left: 0;
      background-color: var(--auro-color-background-lightest);
      width: 75%;
      box-shadow: 0px 15px 28px -10px var(--auro-color-background-darker);
      margin-left: 0;
      padding-left: var(--auro-size-lg);
      top: 80px;

      a {
        margin-bottom: var(--auro-size-sm);
      }
    }
  }
}

code:not(.html):not(.css):not(.js) {
  color: var(--auro-color-brand-flamingo-500);
}

.indention {
  padding-left: var(--auro-size-md);
  border-left: 1px solid var(--auro-color-base-neutral-500);
  margin-bottom: var(--auro-size-xxl);

  &--warning {
    border-color: var(--color-background-alert);
    border-width: 4px;
  }
}

.install {
  padding: var(--auro-size-lg) 0 var(--auro-size-xl) var(--auro-size-lg) !important;
  margin-bottom: var(--auro-size-xxl);
}

// animation speed for auro-loader //
.slow::part(element) {
  animation-duration: 8s;
}

.med::part(element) {
  animation-duration: 5s;
}

.fast::part(element) {
  animation-duration: 1s;
}

// ------ component demo UI -----------
pre {
  margin-top: 0;
  margin-bottom: 0;
}

.afterCode.hljs.openCode {
  background-color: #f8f8f8 !important;
}

.spaceAfterCode {
  display: block;
  margin-bottom: 1rem;
}

.exampleWrapper--deprecated {
  $stripe: var(--auro-color-alert-advisory-on-light);
  $background: var(--auro-color-base-white);

  background: repeating-linear-gradient( 45deg, $stripe, $stripe 10px, $background 10px, $background 20px);
  overflow: auto;
}

.deprecatedExample {
  @extend .exampleWrapper--deprecated;
  display: inline-block;
  width: 85px;
  height: 15px;
}

.content--deprecated {
  border: 1px solid var(--auro-color-alert-advisory-on-light);
  background-color: var(--auro-color-alert-advisory-on-light);
  padding: var(--auro-size-md);
  border-radius: var(--auro-border-radius);
}

.afterCode {
 &.hljs {
   padding-top: 0 !important;
   background-color: unset !important;
 }
}

.dataSelected {
  $stripe: var(--auro-color-background-lighter);
  $background: var(--auro-color-base-white);

  border-width: 1px 1px 0;
  background: repeating-linear-gradient( 45deg, $stripe, $stripe 5px, $background 5px, $background 10px);

  color: var(--auro-color-background-lighter);
  line-height: var(--auro-size-xxl);
  padding: 0 10px 0;

  span {
    color: var(--auro-color-base-crimson-500);
  }
}


// ------------ icons view --------------------
.iconsWrapper {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: var(--auro-size-xxl);

  span {
    position: absolute;
    font-size: var(--auro-text-body-size-xs);
    bottom: 10px;
    padding: 0 15px;
    line-height: 1.2;
    text-align: center;
  }

  div {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: var(--auro-border-radius);
    background-color: var(--auro-color-base-gray-100);
    margin: 0 var(--auro-size-xs) var(--auro-size-xs) 0;

    &:nth-child(even) {
      margin-right: 0;
    }

    width: calc(50% - var(--auro-size-xxs));
    height: 125px;

    @include auro-breakpoint--sm {
      width: calc(30% - var(--auro-size-xxs));
      height: 150px;
      padding: 1rem 1.5rem;
      &:nth-child(even) {
        margin-right: var(--auro-size-xs);
      }
    }

    @include auro-breakpoint--lg {
      width: calc(18% - var(--auro-size-xxs));
      height: 150px;
      padding: 1rem 1.5rem;
      &:nth-child(even) {
        margin-right: var(--auro-size-xs);
      }
    }
  }
}
// ----------------------------------------------

// ------------ color view -----------------
.avatarWrapper {
  display: block;
  margin-bottom: 2rem;

  @include auro_breakpoint--lg {
    display: flex;
    flex-wrap: wrap;
  }
}

.avatarWrapper--4up {
  auro-color-avatar {
    flex-basis: 25%;
    padding-right: 2%;
  }
}

.avatarWrapper--3up {
  auro-color-avatar {
    flex-basis: 33%;
    padding-right: 5%;
  }
}

.avatarWrapper--2up {
  auro-color-avatar {
    flex-basis: 50%;
    padding-right: 5%;
  }
}
// -------------------------------------------


// ----------- color transparency view ------------------------
.transparencyBlock {
  line-height: 100px;
  text-align: center;
  border-radius: 5px;
  margin-bottom: var(--auro-size-md);
}

.transparentSwatch {
  height: 15px;
  border-radius: 3px;
  width: 50%;
}

// sass example
.auro-color-brand-alpine-400--50 {
  background-color: rgba($auro-color-brand-alpine-400, 0.5);
}

// CSS custom properties examples
.auro-rgb-color-brand-alpine-400--10 {
  background-color: rgba(var(--auro-rgb-color-brand-alpine-400), 0.1);
}

.auro-rgb-color-brand-alpine-400--20 {
  background-color: rgba(var(--auro-rgb-color-brand-alpine-400), 0.2);
}

.auro-rgb-color-brand-alpine-400--30 {
  background-color: rgba(var(--auro-rgb-color-brand-alpine-400), 0.3);
}

.auro-rgb-color-brand-alpine-400--40 {
  background-color: rgba(var(--auro-rgb-color-brand-alpine-400), 0.4);
}

.auro-rgb-color-brand-alpine-400--50 {
  background-color: rgba(var(--auro-rgb-color-brand-alpine-400), 0.5);
}

.auro-rgb-color-brand-alpine-400--60 {
  background-color: rgba(var(--auro-rgb-color-brand-alpine-400), 0.6);
}

.auro-rgb-color-brand-alpine-400--70 {
  background-color: rgba(var(--auro-rgb-color-brand-alpine-400), 0.7);
}

.auro-rgb-color-brand-alpine-400--80 {
  background-color: rgba(var(--auro-rgb-color-brand-alpine-400), 0.8);
}

.auro-rgb-color-brand-alpine-400--90 {
  background-color: rgba(var(--auro-rgb-color-brand-alpine-400), 0.9);
}
// -------------------------------------------------------------

.link {
  @extend .auro_hyperlink;

  &.is-active {
    color: #054687;
    text-decoration: none;
    border-bottom: 2px solid currentColor;
    padding-bottom: calc(1rem - 1px);
    cursor: default !important;
  }
}

.tabList {
  height: auto;
  line-height: 1.5rem;
  margin-bottom: 2rem;
  position: sticky;
  top: 80px;
  background: linear-gradient(180deg, rgba(255,255,255,.99) 0%, rgba(255,255,255,1) 50%, rgba(255,255,255,.9) 100%);
  z-index: 10;
  overflow-x: auto;
  overflow-y: hidden;
  display: flex;
  flex-wrap: nowrap;
  box-shadow: inset 0 -2px 0 var(--auro-color-brand-gray-300);

  @include auro_breakpoint--md {
    line-height: 3rem;
  }
}

.tab {
  @include auro_transition($property: border);

  color: var(--auro-color-text-link-on-light);
  border-color: var(--auro-color-brand-gray-300);
  padding: var(--auro-size-md);
  border-width: 0 0 2px 0;
  border-style: solid;
  border-color: transparent;
  text-decoration: none;
  white-space: nowrap;

  @media (hover: hover) {
    &:hover {
      text-decoration: none;
      cursor: pointer;
      color: var(--auro-color-text-link-on-light-hover);
      border-color: currentColor;
    }
  }

  &.is-active {
    text-decoration: none;
    cursor: pointer;
    color: var(--auro-color-text-primary-on-light);
    border-color: currentColor;
  }
}

.tab.focus-visible {
  color: var(--auro-color-base-white) !important;
  background-color: var(--auro-color-text-link-on-light);
  border-bottom-color: var(--auro-color-text-primary-on-light);
}

// this really should be done in the component?
auro-tokens-list {
  display: block;
  overflow: scroll;

  @include auro_breakpoint--md {
    overflow: unset;
  }
}

// Hides external icon from repo badges
img[src*='shields.io'] {
  & + svg {
    display: none;
  }
}

.externalLink {
  white-space: nowrap;
}


// release views
.releaseWrapper {
  margin: var(--auro-size-lg) 0;
  padding: 0 0 var(--auro-size-lg) 0;
  border-bottom: 1px solid var(--auro-color-border-primary-on-light);

  .release {
    padding: var(--auro-size-lg);
    padding-top: var(--auro-size-xs);
    &:nth-child(even) {
      background-color: var(--auro-color-base-gray-100);
    }
  }
}


// CSS Loader
// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
.isLoading {
  color: var(--auro-color-background-darker);
  font-size: 80px;
  text-indent: -9999em;
  overflow: hidden;
  width: 1em;
  height: 1em;
  border-radius: 50%;
  margin: 100px auto;
  position: relative;
  transform: translateZ(0);
  animation: load6 1.7s infinite ease, round 1.7s infinite ease;
  }

  @-webkit-keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }

  @keyframes load6 {
    0% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    5%,
    95% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
    10%,
    59% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em, -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em, -0.297em -0.775em 0 -0.477em;
    }
    20% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em, -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em, -0.749em -0.34em 0 -0.477em;
    }
    38% {
      box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em, -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em, -0.82em -0.09em 0 -0.477em;
    }
    100% {
      box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em, 0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
    }
  }

  @-webkit-keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
      }
      @keyframes round {
    0% {
      -webkit-transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
    }
    100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
    }
}

// UI for status dashboards
// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-
.auro_table--audit {
  thead {
    @include auro_breakpoint--md {
      border-bottom: unset;
    }
  }
}

// Sticky headers
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=
// Something to support in Auro table?
.auro_table--audit {
  th {
    white-space: nowrap;

    @include auro_breakpoint--md {
      box-shadow: inset 0px -1px 0px 0px var(--auro-color-border-primary-on-light);
      position: sticky;
      top: 271px;
      background-color: #fff;
    }
  }
}

.auro_table--issue {
  width: 25%;
}

.auro_table--labels {
  width: 20%;
}

.auro_table--notes {
  @include auro_breakpoint--md {
    width: 55%;
  }
}

.auro_table--spread {
  @include auro_breakpoint--md {
    width: 15%;

    &:first-child {
      width: 30%;
    }

    &:last-child {
      width: 50%;
    }
  }
}

.epicIssues {
  .OPEN,
  .CLOSED {
    padding: 0 var(--auro-size-md);
    border-radius: 3px;
    line-height: 2.5;
    display: block;
    text-align: center;
  }

  .OPEN {
    background-color: var(--auro-color-brand-tropical-300);
  }

  .CLOSED {
    color: white;
    background-color: var(--auro-color-brand-flamingo-500);
  }
}

// status issues
.labelWrapper {
  display: flex;
  align-items: stretch;

  @include auro_breakpoint--md {
    width: 100% !important;
    flex-wrap: wrap;
  }
}

.issueLabel {
  font-size: 0;
  border-radius: 50%;
  width: var(--auro-size-md);
  height: var(--auro-size-md);
  margin-bottom: var(--auro-size-xs);
  margin-right: var(--auro-size-xs);

  @include auro_breakpoint--sm {
    font-size: var(--auro-text-body-size-xs);
    border-radius: var(--auro-border-radius);
    width: auto;
    height: auto;
    padding: var(--auro-size-xs);
    line-height: var(--auro-unitless-scale-100);
    margin-right: var(--auro-size-md);
  }
}

.auditLabel {
  width: var(--auro-size-md);
  height: var(--auro-size-md);
  border-radius: 50%;
  margin: 0 auto;

  &--legend {
    margin: 0;
  }
}

.auditLegend {
  position: sticky;
  z-index: 1;
  top: 160px;
  background-color: var(--auro-color-background-lighter);
  border-bottom: 1px solid var(--auro-color-border-primary-on-light);
  padding: 0.5rem 1rem 1rem;

  &--labelWrapper {
    display: flex;
    flex-wrap: nowrap;
    margin-right: 1rem;

    div,
    span {
      margin-right: 0.25rem;
    }
  }

  &--key {
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
  }
}

[data-name*='Audit'] {
  display: none;
}

[data-name*='ODS/V0 Compliant'] {
  border: 1px solid;
  background-color: transparent !important;
}

.githubAvatar {
  width: var(--auro-size-lg);
  border-radius: 50%;
  padding: 0 var(--auro-size-xxxs);
  vertical-align: middle;
  margin-right: var(--auro-size-xs);

  &--wrapper {
    padding-top: var(--auro-size-xxs);
  }

  &--xl {
    width: var(--auro-size-xl);
  }
}

// header color example
// =-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-

.error--on-light {
  color: var(--auro-color-alert-error-on-light);
}


.my-selector {
  margin: 0;
}


// Release summary
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

.summaryWrapper {
  border-bottom: 1px solid var(--auro-color-border-primary-on-light);
  margin-bottom: var(--auro-size-xxl);
  padding-bottom: var(--auro-size-xxl);

  &:last-child {
    border-width: 0;
  }
}


// Simple grid utility
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

.grid {
  display: inline-grid;
  width: 100%;
}

.grid--4col {
  grid-template-columns: repeat(4, 1fr);
  grid-column-gap: 1rem;
}

// Badges
// -=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=-=

.noLinkUi {
  text-decoration: none;
}

.badge {
  display: flex;
  background-color: var(--auro-color-base-gray-500);
  line-height: 1;
  letter-spacing: 1px;
  color: var(--auro-color-base-white);
  font-size: var(--auro-size-sm);
}

.title {
  padding: var(--auro-size-xs);
  text-transform: uppercase;
  text-align: center;
  flex-grow: 4;
}

.data {
  color: var(--auro-color-base-white);
  padding: var(--auro-size-xs);
  font-weight: 500;

  &--release {
    background-color: var(--auro-color-brand-breeze-300);
  }

  &--issues {
    background-color: var(--auro-color-brand-tropical-400);
  }

  &--prs {
    background-color: var(--auro-color-brand-goldcoast-400);
  }

  &--null {
    background-color: var(--auro-color-base-gray-300);
  }
}

.short {
  width: 45%;
}

.columns {
 flex-direction: column;

 @include auro_breakpoint--lg {
  flex-direction: row;
  justify-content: space-between;
 }

  > div {
    &:nth-child(1) {
      padding-left: 0;
    }
    &:nth-child(3) {
      padding-right: 0;
    }

    @include auro_breakpoint--lg {
      padding: 0 var(--auro-size-lg);
      flex-basis: 33.3333%;
      max-width: 33.333%;
    }
  }
}

.orange {
  color: orange;
}

.largeLogo {
  width: 30rem;
}

.largeIcon {
  width: 30rem;
}

.smallLogo {
  width: 10rem;
}

// =-=-=-=-=-=- status page -=-=-=-=-=-=

.statusPrLayout {
  .cardHeader {
    display: flex;
    justify-content: space-between;
  }

  .cardStats {
    display: flex;
  }

  .statsBadge {
    margin-right: 1rem;
  }

  auro-alerts {
    margin-bottom: 1rem;
  }
}

// =-=-=-=-=-=- home page -=-=-=-=-=-=

.imageBox {
  background-color: #01426c;
  justify-content: center;
  position: relative;

  @include auro_breakpoint--lg {
    display: flex;
  }
}

.quoteBox {
  display: none;
  position: absolute;
  top: 0;
  right: 2rem;
  color: white;
  width: 25%;
  text-align: right;

  @include auro_breakpoint--lg {
    display: block;
  }
}
