$iconMap: (
  toggleArrow: true,
  chevronArrow: true,
  classiccheckmark: true,
  stepout: true,
  stepoutLg: true,
  checkmarkLg: true,
  close: true,
  closeLg: true,
  closeSml: true,
  alert: true,
  creditcard: true
);

@import '~@alaskaairux/orion-icons/dist/orion-icons';
