@import '../../node_modules/@alaskaairux/orion-design-tokens/dist/tokens/TokenVariables';

$iconMap: (
  toggleArrow: true,
  chevronArrow: true,
  classiccheckmark: true,
  checkmarkLg: true,
  checkmarkSml: true,
  stepout: true,
  stepoutLg: true,
  close: true,
  closeLg: true,
  closeSml: true,
  alert: true,
  creditcard: true
);

@import '~@alaskaairux/orion-icons/dist/orion-icons';
