@import "../../node_modules/@alaskaairux/orion-design-tokens/dist/tokens/SCSSVariables";

$iconMap: (
  toggleArrow: false,
  chevronArrow: false,
  classiccheckmark: true,
  stepout: false,
  stepoutLg: false,
  checkmarkLg: false,
  checkmarkSml: false,
  close: false,
  closeLg: false,
  closeSml: false,
  alert: false,
  creditcard: false,
  addToCalendar: false,
  boardingPassFilled: false,
  boardingPassStroke: false,
  bookingFilled: false,
  bookingStroke: false,
  calendar: false,
  radarFilled: false,
  radarStroke: false
) !default;

@import '~@alaskaairux/orion-icons/dist/icons';
