/* index.scss */

/* auro tokens */
// @import '~@alaskaairux/orion-design-tokens/dist/tokens/SCSSVariables';
@import '~@alaskaairux/design-tokens/dist/tokens/SCSSVariables';

// WCSS imports
/* ------------------------ WCSS imports ------------------------ */
@import '~@aurodesignsystem/webcorestylesheets/dist/breakpoints';
@import '~@aurodesignsystem/webcorestylesheets/dist/fonts';
@import '~@aurodesignsystem/webcorestylesheets/dist/componentSupport/tablist';
@import '~@aurodesignsystem/webcorestylesheets/dist/componentSupport/containedButtons';
@import '~@aurodesignsystem/webcorestylesheets/dist/utilityClasses/layoutProperties';
@import '~@aurodesignsystem/webcorestylesheets/dist/picture';

// Auro typography
/* ------------------------ Auro typography ------------------------ */
@import '~@aurodesignsystem/webcorestylesheets/dist/essentials';

$prefix: true;
$paragraph: true;
@import '~@aurodesignsystem/webcorestylesheets/dist/utilityClasses/fontStyles';
@import '~@aurodesignsystem/webcorestylesheets/dist/headings';
$prefix: null;

// Auro Selector generators
/* ------------------------ Auro Selector generators ------------------------ */
@import '~@aurodesignsystem/webcorestylesheets/dist/utilityMixins/_layoutPropertiesGenerator';

$auro-spacing-types: stack;
$important: true;
@import '~@alaskaairux/design-tokens/dist/tokens/SCSSVariableMap';
@import '~@aurodesignsystem/webcorestylesheets/dist/utilityMixins/spacingUtility';

// Table
/* ------------------------ Table ------------------------ */
@import '~@aurodesignsystem/webcorestylesheets/dist/componentSupport/table';
