@import '~@alaskaairux/orion-design-tokens/dist/tokens/TokenVariables';
@import '~@alaskaairux/orion-design-tokens/dist/tokens/SCSSVariables';
@import "~@alaskaairux/orion-web-core-style-sheets/dist/breakpoints";
@import "~@alaskaairux/orion-web-core-style-sheets/dist/baseline";

// accessibility
@import "~@alaskaairux/orion-web-core-style-sheets/dist/utilityMixins/focusVisible";

// Auro typography and spacing
$prefix: true;
$paragraph: true;
@import "~@alaskaairux/orion-web-core-style-sheets/dist/essentials";
@import "~@alaskaairux/orion-web-core-style-sheets/dist/utilityClasses/fontStyles";
@import "~@alaskaairux/orion-web-core-style-sheets/dist/headings";
@import "~@alaskaairux/orion-web-core-style-sheets/dist/utilityMixins/layoutPropertiesGenerator";
$prefix: null;

.ods-markdown {
  footer img {
    width: 50px;
    min-height: 100%;
  }

  blockquote {
    margin-left: 0;
    border-left: 1px solid var(--auro-color-border-active-on-light);
    padding-left: 30px;
    color: var(--auro-color-text-secondary-on-light);
    font-weight: 200;
    margin-top: var(--auro-size-xxl);
    margin-bottom: var(--auro-size-xxl);

    p {
      line-height: 2;
    }
  }

  strong {
    @extend .auro_heading--300;
  }

  img {
    &[alt="Orion Design System Logo"] {
      width: 125px;
      margin: 0 0 10px 10px;
    }
  }

  h1,
  h2,
  h3 {
    @extend .auro_heading;
  }

  h1 {
    @extend .auro_heading--display;
  }

  h2 {
    @extend .auro_heading--700;
  }

  h3 {
    @extend .auro_heading--600;
  }

  h4 {
    @extend .auro_heading--500;
  }

  a {
    @extend .auro_hyperlink;

    &.focus-visible {
      @include focus-hyperlink(sass);
    }

    &[href*="http"] {
      &:not([href*='npmjs']):not([href*='travis']):not([href*='apache']) {
        position: relative;
        padding-right: var(--auro-size-sm);

        &:after {
          content: '';
          mask: url('/svg/external-link-sm.svg');
          mask-size: cover;
          position: absolute;
          top: 0.5px;
          right: 0;
          background-size: var(--auro-size-sm) var(--auro-size-sm);
          height: var(--auro-size-sm);
          width: var(--auro-size-sm);
          background-color: var(--auro-color-ui-default-on-light);
        }
      }
    }
  }

  p {
    @extend .auro_p;
  }

  pre  {
    overflow: auto;
    background-color: var(--auro-color-base-gray-100);
    padding: var(--auro-size-lg) !important;
    margin-bottom: var(--auro-size-xxl);

    code {
      font-size: .9rem;
    }
  }



  table {
    overflow: scroll;
    width: auto;
    border-spacing: 5px;
    margin-bottom: var(--auro-size-xl);
    font-weight: 200;
    display: block;

    tr {
      &:nth-child(even) {
        background-color: var(--auro-color-base-gray-100);
      }
    }

    th {
      text-align: left;
    }

    @include auro_breakpoint--sm {
      width: 100%;
      display: table;
    }
  }

  table {
    border-collapse: collapse;
  }

  thead {
    border-bottom: 1px solid var(--auro-color-base-gray-200);
    border-collapse: collapse;
  }

  th, td {
    padding: 15px;
  }

  footer {
    font-size: var(--auro-text-body-size-xs);
    color: var(--auro-color-base-gray-100);
  }
}
