// Auro tokens
@import "@aurodesignsystem/design-tokens/dist/legacy/auro-classic/SCSSVariables";

@import "@aurodesignsystem/webcorestylesheets/src/breakpoints";

.siteHeader {
  display: flex;
  justify-content: space-between;
  height: 65px;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid var(--auro-color-border-primary-on-light);
  background-color: white;

  @include auro_breakpoint($min: $ds-grid-breakpoint-sm) {
    padding: 10px 0 10px 25px;
  }
}

.header-bar {
  display: flex;
  flex-direction: row;
  z-index: var(--ds-depth-overlay);
  align-items: center;
  padding-right: var(--ds-size-100);

  #theme-switcher {
    min-width: 150px;
  }
}