// Auro tokens
@import "~@aurodesignsystem/design-tokens/dist/tokens/SCSSVariables";

@import "~@aurodesignsystem/webcorestylesheets/src/breakpoints";

.siteHeader {
  display: flex;
  justify-content: space-between;
  height: 80px;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 1px solid var(--ds-color-border-primary-default);
  background-color: var(--ds-color-background-primary-100-default);

  @include auro_breakpoint--sm {
    padding: 10px 0 10px 25px;
  }
}
