@import '~@alaskaairux/orion-design-tokens/dist/tokens/TokenVariables';
@import '~@alaskaairux/orion-design-tokens/dist/tokens/SCSSVariables';
@import "~@alaskaairux/orion-web-core-style-sheets/dist/breakpoints";
@import "~@alaskaairux/orion-web-core-style-sheets/dist/animation";
@import "~@alaskaairux/orion-web-core-style-sheets/dist/utilityClasses/displayProperties";
@import "~@alaskaairux/orion-web-core-style-sheets/dist/baseline";

.sidenav,
.sidenav ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  li {
    @include transition;
  }
}

.sidenav {
  position: fixed;
  top: 80px;
  width: 15%;
  overflow: scroll;
  height: -webkit-fill-available;
  padding-bottom: 300px;

  .hyperlink {
    margin-bottom: $size-scale-micro;

    &:last-child {
      margin-bottom: 0;
    }
  }
}

.hyperlink--active {
  color: $color-base-orca !important;
  &:hover {
    text-decoration: none !important;
  }
}
