@import '~@alaskaairux/orion-design-tokens/dist/tokens/TokenVariables';
@import '~@alaskaairux/orion-design-tokens/dist/tokens/SCSSVariables';
@import "~@alaskaairux/orion-web-core-style-sheets/dist/breakpoints";
@import "~@alaskaairux/orion-web-core-style-sheets/dist/animation";
@import "~@alaskaairux/orion-web-core-style-sheets/dist/utilityClasses/displayProperties";
@import "~@alaskaairux/orion-web-core-style-sheets/dist/baseline";

.sidenav,
.sidenav ul {
  list-style: none;
  margin-left: 0;
  padding-left: 0;

  li {
    @include transition;
  }
}

.sidenav {
  display: none;
  position: fixed;
  z-index: 100;
  background-color: white;
  width: 75%;
  margin-left: 0;
  padding-left: 10px;
  height: 100%;
  overflow: scroll;
  padding-bottom: 200px;


  &Mobile--open {
    display: block;
    background-color: white;
    width: 75%;
    box-shadow: 0px 15px 28px -10px #666;
    margin-left: 0;
    padding-left: 10px;
    top: 80px;
  }

  .auro_hyperlink {
    margin-bottom: $size-scale-micro;

    &:last-child {
      margin-bottom: 0;
    }
  }

  @include auro_breakpoint--lg {
    width: 245px;
    margin: 0;
  }

  @include auro_breakpoint--sm {
    display: block;
    width: 248px;
    top: 80px;
    height: -webkit-fill-available;
    padding-bottom: 300px;
    margin-left: 10px;
  }
}

.hyperlink--active {
  color: $color-base-orca !important;
  &:hover {
    text-decoration: none !important;
  }
}
