button.imgIcon {
  all: unset;
  color: var(--auro-color-ui-default-on-light);
  text-decoration: underline;

  &:hover {
    cursor: pointer;
    text-decoration: none;
  }

  &.focus-visible {
    background-color: var(--auro-color-brand-atlas-400);
    color: var(--auro-color-text-primary-on-dark);
  }
}

.imgIcon {
  font-size: 0;
  display: flex;
  margin-left: auto;
  align-items: center;
  flex-direction: row;

  a {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: var(--auro-size-xxs);
    transition: background-color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);

    &:hover {
      background-color: var(--ds-advanced-color-button-primary-background-hover)
    }
  }

  .focus-visible {
    background-color: var(--ds-advanced-color-button-primary-background-hover);
    outline: none;

    svg {
      fill: var(--ds-advanced-color-hyperlink-text-inverse)
    }
  }

  svg {
    width: 22px;
    height: 22px;
    fill: var(--ds-advanced-color-hyperlink-text);

    &:hover {
      fill: var(--ds-advanced-color-hyperlink-text-inverse)
    }
  }

  small {
    line-height: 28px;
  }
}
