@import "~@alaskaairux/design-tokens/dist/tokens/SCSSVariables";

button.imgIcon {
  all: unset;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    background-color: var(--auro-color-brand-atlas-400);
    cursor: pointer;
  }

  &.focus-visible {
    background-color: var(--auro-color-brand-atlas-400);

    svg {
      fill: var(--auro-color-base-white);
    }
  }
}

.imgIcon {
  font-size: 0;
  display: flex;
  flex-wrap: wrap;

  a {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    margin-right: var(--auro-size-xxs);
    transition: background-color 0.3s cubic-bezier(0.215, 0.61, 0.355, 1);

    &:hover {
      background-color: var(--auro-color-brand-atlas-400);
    }
  }

  .focus-visible {
    background-color: var(--auro-color-brand-atlas-400);
    outline: none;

    svg {
      fill: var(--auro-color-base-white);
    }
  }

  svg {
    width: 22px;
    height: 22px;
    fill: var(--auro-color-brand-atlas-400);

    &:hover {
      fill: var(--auro-color-base-white);
    }
  }

  small {
    line-height: 28px;
  }
}
